@media only screen and (min-width: 1880px) {
    .botoes{
        height: 100px;
    }
    .card:hover{
        height: 370px;
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .menu{
        margin-top: auto;
        flex-direction: column;
    }
    .conteudo{
        align-items: center; /* Alinha horizontalmente */
        text-align: center;
    }
    #fotoDePerfil{
        width: 200px;
    }
    .botoes{
        display: none;
    }
    .sobremim{
        height: auto;
    }
    .sobremim-conteudo{
        flex-direction: column; /* Garante que o conteúdo fique empilhado */
        justify-content: center; /* Alinha verticalmente */
        align-items: center; /* Alinha horizontalmente */
        text-align: center;
        width: 100%; /* Garante que ocupe toda a largura disponível */
        height: auto; /* Opcional: pode ajudar a centralizar verticalmente na tela */
    }
    .fotoSobremim{
        display: none;
    }
    .fotoSobremim img{
        display: none;
    }
    .textoSobremim p {
        width: auto;
    }
    .formacao{
        height: auto;
    }
    .formacoes{
        flex-direction: column;
        align-items: center; /* Alinha horizontalmente */
        margin-bottom: 50px;

    }
    .caixa1{
        margin-bottom: 60px;
    }
    .quadradosPrimeiraParte{
        flex-direction: column;
    }
    .quadradosSegundaParte{
        flex-direction: column;
    }
    /*Titulos*/
    .sobremim h1{
        font-size: 70px; 
    }
    .formacao h1{
        font-size: 70px;
    }
    .portfolio h1{
        font-size: 70px;
    }
    .contoto h1{
        font-size: 70px;
    }
}
@media (min-width: 410px) and (max-width: 600px) {
    .menu{
        margin-top: auto;
        flex-direction: column;
    }
    .botoes{
        display: none;
    }
    .conteudo{
        align-items: center; /* Alinha horizontalmente */
        text-align: center;
    }
    #fotoDePerfil{
        width: 200px;
    }
    .sobremim{
        height: auto;
    }
    .sobremim-conteudo{
        flex-direction: column; /* Garante que o conteúdo fique empilhado */
        justify-content: center; /* Alinha verticalmente */
        align-items: center; /* Alinha horizontalmente */
        text-align: center;
        width: 100%; /* Garante que ocupe toda a largura disponível */
        height: auto; /* Opcional: pode ajudar a centralizar verticalmente na tela */
    }
    .fotoSobremim{
        display: none;
    }
    .fotoSobremim img{
        display: none;
    }
    .textoSobremim p {
        width: auto;
    }
    .formacao{
        height: auto;
    }
    .formacoes{
        flex-direction: column;
        align-items: center; /* Alinha horizontalmente */
        margin-bottom: 50px;

    }
    .caixa1{
        margin-bottom: 60px;
    }
    .quadradosPrimeiraParte{
        flex-direction: column;
    }
    .quadradosSegundaParte{
        flex-direction: column;
    }
     /*Titulos*/
    .sobremim h1{
        font-size: 50px; 
    }
    .formacao h1{
        font-size: 50px;
    }
    .portfolio h1{
        font-size: 50px;
    }
    .contoto h1{
        font-size: 50px;
    }
}
@media only screen and (max-width: 410px) {
    .menu{
        margin-top: auto;
        flex-direction: column;
    }
    .botoes{
        display: none;
    }
    .conteudo{
        align-items: center; /* Alinha horizontalmente */
        text-align: center;
    }
    #fotoDePerfil{
        width: 200px;
    }
    .sobremim{
        height: auto;
    }
    .sobremim-conteudo{
        flex-direction: column; /* Garante que o conteúdo fique empilhado */
        justify-content: center; /* Alinha verticalmente */
        align-items: center; /* Alinha horizontalmente */
        text-align: center;
        width: 100%; /* Garante que ocupe toda a largura disponível */
        height: auto; /* Opcional: pode ajudar a centralizar verticalmente na tela */
    }
    .fotoSobremim{
        display: none;
    }
    .fotoSobremim img{
        display: none;
        width: 20px;
    }
    .textoSobremim p {
        width: auto;
    }
    .formacao{
        height: auto;
    }
    .formacoes{
        flex-direction: column;
        align-items: center; /* Alinha horizontalmente */
        margin-bottom: 50px;

    }
    .caixa1{
        margin-bottom: 60px;
    }
    .quadradosPrimeiraParte{
        flex-direction: column;
    }
    .quadradosSegundaParte{
        flex-direction: column;
    }
    /*Titulos*/
    .sobremim h1{
        font-size: 50px; 
    }
    .formacao h1{
        font-size: 50px;
    }
    .portfolio h1{
        font-size: 50px;
    }
    .contoto h1{
        font-size: 50px;
    }
}
